<div>
    @Scripts.Render("~/scripts/login")
    <p>Login</p>
    <label>Email</label><input id="email_input" type="text" /><br />
    <label>Password</label><input id="password_input" type="password" /><br />
    <button id="login_button">login</button>
    <p id="message"></p>

</div>