html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 1rem .1rem rgba(0, 0, 0, .5);;
  background-color: #E5FFEE;
}

#qwest-logo {
    float: left;
    size: 50%;
}

#friend-list,
#friend-request-list {
    list-style-type: none;
    line-height: 200%;
}

#viewmap,
#profile,
#logout-button,
#username-field {
    font-size: larger;
    /*margin-top: auto;*/
}

.split {
    border-color: black;
    border-width: 5px;
    height: 80%;
    width: 45%;
    position: fixed;
    z-index: 1;
    top: 100px;
    overflow-x: hidden;
    padding-top: 0px;
    overflow-y: scroll;
    border: 4px black;
    border-style: groove;
    border-radius: 15px;
}

.left {
    left: 1em;
    right: 1em;
}

.right {
    right: 1em;
    left: 51%;
}
  
#single-user {
    border: 3px black;
    border-style: ridge;
    border-radius: 10px;
    padding-bottom: 4px;
}
.cover-container {
    overflow-y: scroll;
}

#friends-button, 
#update-user-button, 
#change-password-button,
#description-field {
    width: 400px;
}

#username-span {
    font-size: larger;
}

#image {
    width: 150px;
}
.btn-secondary {
    color: #333333;
    background-color: #ffffff;
    max-width: 400px;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
    color: black;
    background-color: azure;
}

.lead {
    font-size: 1.50rem;
    font-weight: 300;
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
    color: #0056b3;
}

.mastfoot, .inner {
    color: #0056b3;
}

.nav-masthead {
    float: right;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.d-flex {
    display: flex !important;
    flex-direction: column;
}

.h-80 {
    height: 100% !important
}

.w-600 {
    width: 100% !important;
}

header {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.text-center {
    text-align: center !important;

}

@media (min-width: 48em) {
    .masthead-brand {
      float: left;
    }
    .nav-masthead {
      float: right;
    }
    .d-flex {
        flex: 100%;
    }
}

.mastfoot {
    box-sizing: border-box;
    display: block;
    float: none;
    line-height: 24px;
    position: static;
    z-index: auto;
}

.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}