html, body {
    height: 100%;
    background-color: #333;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 1rem .1rem rgba(0, 0, 0, .5);
    ;
    background-color: #E5FFEE;
}

#qwest-logo {
    float: left;
    size: 50%;
}

#group-list, #group-request-list {
    margin-top: 20px;
    list-style-type: none;
    line-height: 200%;
    text-align: left;
    font-size: x-large;
}

#group-selector {
    text-align: left;
}

#group-form {
    width: 466px;
    padding-left: 0px !important;
}

#group-name {
    font-size: x-large;
}
.form-group {
    margin-bottom: 0;
}

.mul-select {
    width: 100%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-left: 0pt !important;
}

.select2-selection {
    width: 466px;
    height: 40px;
}

.select2-container--default {
    min-width: 250px;
    color: #0056b3 !important;
}

#group-menu-modal {
    color: #0056b3 !important;
}

#create-button {
    float: right;
    margin-right: 5px;
    margin-top: 2px;
}

#groups-label {
    display: inline-block;
    margin-left: 20%;
}

#dropdown-friends {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.modal {
    color: #0056b3 !important;
}

.mul-select {
    width: 100%;
}

#feed-button, #viewmap, #profile, #logout-button, #username-field {
    font-size: larger;
    /*margin-top: auto;*/
}

.split {
    border-color: black;
    border-width: 5px;
    height: 80%;
    width: 47%;
    position: fixed;
    z-index: 1;
    top: 100px;
    overflow-x: hidden;
    padding-top: 0px;
    overflow-y: auto;
    border: 4px black;
    border-style: groove;
    border-radius: 15px;
}

.left {
    left: 1em;
    right: 1em;
}

.right {
    right: 1000px;
    left: 51%;
}

#single-group {
    align-self: center;
    border-bottom: 2px solid #000;
    padding-bottom: 4px;
    width: 90%;
    margin-left: 3%;
    margin-right: 5%;
}

.cover-container {
    overflow-y: auto;
}

#friends-button, #update-user-button, #change-password-button, #description-field {
    width: 400px;
}

#username-span {
    font-size: larger;
}

#image {
    width: 150px;
}

.btn-secondary {
    color: #333333;
    background-color: #ffffff;
    max-width: 400px;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
    color: black;
    background-color: azure;
}

.lead {
    font-size: 1.50rem;
    font-weight: 300;
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
    color: #0056b3;
}

.mastfoot, .inner {
    color: #0056b3;
}

.nav-masthead {
    float: right;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.d-flex {
    display: flex !important;
    flex-direction: column;
}

.h-80 {
    height: 100% !important
}

.w-600 {
    width: 100% !important;
}

header {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
    .d-flex {
        flex: 100%;
    }
}

.mastfoot {
    box-sizing: border-box;
    display: block;
    float: none;
    line-height: 24px;
    position: static;
    z-index: auto;
}

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}