html, body {
    color: #ffffff;
    height: 100%;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 1rem .1rem rgba(0, 0, 0, .5);;
    background-color: #E5FFEE;
}

#viewmap,
#user-settings,
#logout-button {
    font-size: larger;
    margin-top: auto;
}

#qwest-logo {
    float: left;
    size: 50%;
}

.cover-container {
    max-width: em;
    min-width: 50em;
    overflow-y: scroll;
}
/*
.ml-auto, .mx-auto, .mb-auto, .my-auto {
    margin-top: auto !important;
}
*/
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
    color: #0056b3;
}

.mastfoot, .inner {
    color: #0056b3;
}

.nav-masthead {
    float: right;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.d-flex {
    display: flex !important;
}

.h-max {
    height: 100% !important
}

.w-max {
    width: 100% !important;
}

.percent {
    justify-content: center;
}

header {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.text-center {
    text-align: center !important;
}

@media (min-width: 48em) {
    .masthead-brand {
      float: left;
    }
    .nav-masthead {
      float: right;
    }
}

.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.fullscreen {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.custom-menu li:hover {
    background-color: #DEF;
}