body {
    background-color: #E5FFEE;
    margin: auto;
}

h1 {
    text-align: center;
    color: skyblue
}

#register_button,
#email_input,
#password_input,
#password_input_confirm,
#username_input {
    width: 270px;
    height: 50px;
    margin: 0 auto;
    font-size: large;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

::after, ::before{
    box-sizing: border-box;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.text-center {
    text-align: center !important;
}

/* unvisited link */
a:link {
    
    color: blue;
}

/* visited link */
a:visited, a:active {
    color: purple;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: underline;
}

.no-padding {
    padding: 0;
}