<div>
    @Scripts.Render("~/scripts/sign_up")
    <p>Sign Up</p>
    <label>Email</label><input id="email_input" type="text" /><br />
    <label>Username</label><input id="username_input" type="text" /><br />
    <label>Password</label><input id="password_input" type="password" /><br />
    <button id="register_button">register</button>
    <p id="message"></p>

</div>