<div>@Scripts.Render("~/scripts/map")</div>
<script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.5.0/dist/svg-pan-zoom.min.js"></script>
<script>
    window.countryData = @Html.Raw(@ViewBag.CountryData)
</script>
<div id="svgMap"></div>